.noHover:hover {
  cursor: inherit;
}

.svgBody {
  border: black 1px solid;
  max-width: 80px;
  border-radius: 5%;
  image-rendering: crisp-edges;
}
.played {
  background-color: #ffffff;
}
.playOk {
  background-color: #fafafa;
  box-shadow: -6px -6px 8px 0 rgba(0, 0, 0, 0.2), 6px -6px 12px 0 rgba(0, 0, 0, 0.19);
  transition: 0.2s;
}
.playOk:hover {
  background-color: #ffffff;
  box-shadow: -9px -9px 10px 1px rgba(0, 0, 0, 0.2), 9px -9px 25px 1px rgba(0, 0, 0, 0.19);
  transform: scale(1.2, 1.2);
}
.notMyTurn {
  background-color: #dddddd;
}
.notAllowed {
  background-color: #bbbbbb;
}

.spades {
  color: #000;
  stroke: #000;
  fill: #000;
}

.hearts {
  color: #d40000;
  stroke: #d40000;
  fill: #d40000;
}

.diamonds {
  color: #000080;
  stroke: #000080;
  fill: #000080;
}

.clubs {
  color: #006400;
  stroke: #006400;
  fill: #006400;
}
