#root {
  --normal-container-height: 112px;
  --normal-container-width: 88px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: azure;
}

#gameTableContainer {
  display: grid;
  grid-template-areas:
    "cardboard cardboard scoretable"
    "promisetable chat menu";
  grid-template-rows: 1fr 220px;
  grid-template-columns: auto auto 260px;
  column-gap: 10px;
  row-gap: 5px;
  height: 100vh;
  width: 100vw;
  margin: 0;
}

#cardboardArea {
  grid-area: cardboard;
  position: relative;
  margin: 5px;
}

#scoretableArea {
  grid-area: scoretable;
  position: relative;
  margin-top: 5px;
  margin-right: 5px;
}

#promisetableArea {
  grid-area: promisetable;
  position: relative;
  margin-left: 5px;
}

#chatArea {
  grid-area: chat;
  position: relative;
}

#menuArea {
  grid-area: menu;
  position: relative;
  margin-right: 5px;
}

.spinnerContainer {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 1070;
  background-color: #000;
  opacity: 0.5;
}

.spinnerClass {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%, 0);
}

.handValueContainerLeft {
  position: absolute;
  padding: 0px 10px;
  left: 0px;
}
.handValueContainerRight {
  position: absolute;
  padding: 0px 10px;
  right: 0px;
}
.handValue {
  text-shadow: 1px 1px 1px black, 0 0 4px blue, 0 0 2px darkblue;
  font-size: x-large;
}

.smallErrorDiv {
  border: 1px red solid;
  border-radius: 5px;
  color: red;
  margin-bottom: 5px;
  padding: 5px;
}

.playerInfoDiv,
.trumpCardSlotDiv,
.myPlayedCardDiv,
.animatedCardPlayedSlot {
  position: absolute;
}

.ownCardsDiv {
  position: absolute;
  z-index: 999;
}

.playerInfoDiv {
  min-width: 150px;
}

.trumpCardSlotDiv, .myPlayedCardDiv, .animatedCardPlayedSlot {
  height: var(--normal-container-height);
  width: var(--normal-container-width);
}
.animatedCardPlayedSlot.cardTop:hover {
  z-index: 999;
}
.wonCardsRow {
  height: var(--normal-container-height);
}

.winningCard {
  box-shadow:
    -9px -9px 10px 2px rgba(255, 255, 0, 0.35),
    -9px -9px 10px 2px rgba(255, 255, 0, 0.35) inset,
    9px 9px 10px 2px rgba(255, 255, 0, 0.35),
    9px 9px 10px 2px rgba(255, 255, 0, 0.35) inset;
}
.winningCard:hover {
  box-shadow:
    -9px -9px 20px 3px rgba(255, 255, 0, 0.55),
    -9px -9px 20px 3px rgba(255, 255, 0, 0.55) inset,
    9px 9px 20px 3px rgba(255, 255, 0, 0.55),
    9px 9px 20px 3px rgba(255, 255, 0, 0.55) inset;
}

.cardInCharge {
  box-shadow:
    -9px -9px 10px 2px rgba(255, 0, 0, 0.24),
    -9px -9px 10px 2px rgba(255, 0, 0, 0.24) inset,
    9px 9px 10px 2px rgba(255, 0, 0, 0.24),
    9px 9px 10px 2px rgba(255, 0, 0, 0.24) inset;
}
.cardInCharge:hover {
  box-shadow:
    -9px -9px 20px 3px rgba(255, 0, 0, 0.5),
    -9px -9px 20px 3px rgba(255, 0, 0, 0.5) inset,
    9px 9px 20px 3px rgba(255, 0, 0, 0.5),
    9px 9px 20px 3px rgba(255, 0, 0, 0.5) inset;
}

.scrollBars {
  overflow: auto;
}
.topMargin {
  margin-top: 100px;
}

.smaller {
  font-size: 0.85em;
}

.smallList {
  font-size: 0.75em;
}

.cardBoardTopRow{
  padding: 5px;
}

.layoutRow {
  padding-top: 5px;
  margin-bottom: 2px;
}

.promiseTableCol {
  align-self:flex-end;
}

.playerTable {
  border: 1px groove cyan;
  border-radius: 1em;
  z-index: 200;
}
.otherPlayerCardSlots {
  margin: 5px 0px;
}
.cardsRow {
  margin: 5px 0px;
  height: var(--normal-container-height);
  width: 100%;
}
.ownPlayedCardRow {
  margin: 5px 0px;
}

.playerInfoRow {
  margin: 10px 0px;
  position: relative;
}
.playerNameCol {
  position: absolute;
  font-weight: bold;
  white-space: nowrap;
  width: 25%;
}
.playerInfoCol {
  position: absolute;
  left: 25%;
  width: 30%;
}
.progressInfoCol {
  position: relative;
  left: 50%;
  width: 45%;
}

.chatBox {
  height: 210px;
  border: 1px lightgray groove;
  border-radius: 0.4em;
  z-index: 1;
  font-size: smaller;
  margin-bottom: 5px;
}

.chatBox .gameOver {
  animation-name: gameOverAnimation;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes gameOverAnimation {
  0% {background-color: greenyellow;}
  25% {background-color: yellow;}
  50% {background-color: orange;}
  75% {background-color: red;}
  100% {background-color: violet;}
}

.cardCol {
  height: var(--normal-container-height);
  width: var(--normal-container-width);
  padding: 0px;
}
.stackedCards {
  position: absolute;
  left: 50%;
  width: 80px;
  transform: translate(-50%, 0);
}
.myPlayedCard {
  text-align: center;
  width: fit-content;
}
.playableCard {
  cursor: pointer;
}
.trumpSlotDiv {
  position: relative;
}
.trumpCardCol {
  text-align: center;
}
.firstCardCol {
  padding-left: 20px;
}
.lastCardCol {
  min-width: 85px;
}
.cardWonCol {
  padding-left: 1px;
  padding-right: 1px;
  height: var(--normal-container-height);
  width: var(--normal-container-width);
  position: absolute;
}
.backSide {
  background-color: white;
  border: black 1px solid;
  max-height: var(--normal-container-height);
  max-width: var(--normal-container-width);
  border-radius: 5%;
  position: absolute;
}

.promiseButtonRow {
  height: 25px;
}

.promiseButton {
  position: absolute;
  z-index: 9999;
  padding-right: calc(var(--bs-gutter-x) * .3);
  padding-left: calc(var(--bs-gutter-x) * .3);
}

.tableHeading {
  text-align: center;
  cursor: default;
  font-weight: bolder;
}
.evenPromised {
  background-image: radial-gradient(circle, rgba(0, 255, 0, 0) 20%, rgba(0, 255, 0, 0.8) 50%, rgba(0, 255, 0, 0) 30%);
}
.underPromised {
  background-image: radial-gradient(circle, rgba(255, 255, 0, 0) 20%, rgba(255, 255, 0, 0.8) 50%, rgba(255, 255, 0, 0) 30%);
}
.overPromised {
  background-image: radial-gradient(circle, rgba(255, 0, 0, 0) 20%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 30%);
}

.currentRound {
  border: 1px lightgray dotted;
}

.totalPromiseCell {
  text-align: right;
  cursor: default;
  padding: 0.25em !important;
  font-weight: bolder;
}
.tableCell {
  text-align: center;
  cursor: default;
  padding: 0.25em !important;
}
.evenKept {
  background-image: radial-gradient(circle, rgba(0, 255, 0, 0) 20%, rgba(0, 255, 0, 0.3) 50%, rgba(0, 255, 0, 0) 30%);
}
.underKept {
  background-image: radial-gradient(circle, rgba(255, 255, 0, 0) 20%, rgba(255, 255, 0, 0.5) 50%, rgba(255, 255, 0, 0) 30%);
}
.overKept {
  background-image: radial-gradient(circle, rgba(255, 0, 0, 0) 20%, rgba(255, 0, 0, 0.3) 50%, rgba(255, 0, 0, 0) 30%);
}

.gotPoints {
  background-image: radial-gradient(farthest-side circle, rgba(0, 255, 0, 0) 20%, rgba(0, 255, 0, 0.2) 50%, rgba(0, 255, 0, 0) 30%);
}
.noPoints {
  background-image: radial-gradient(farthest-side circle, rgba(255, 0, 0, 0) 20%, rgba(255, 0, 0, 0.2) 50%, rgba(255, 0, 0, 0) 30%);
}

.avgPointCol {
  color: lightgray;
}

.adminButtonDiv {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.joinOtherButton {
  margin-right: 2px;
}

.timeLineButton {
  margin-right: 10px;
}
