* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: azure;
}

.cardCol {
  height: 112px;
  padding: 0px;
  border: 1px solid black;
}
.trumpCardCol {
  text-align: center;
}
.firstCardCol {
  padding-left: 20px;
}
.playedCardCol {
  padding-left: 30px;
}
.lastCardCol {
  min-width: 85px;
}
.cardWonCol {
  padding-left: 1px;
  padding-right: 1px;
}
.backSide {
  background-color: white;
  border: black 1px solid;
  max-width: 80px;
  border-radius: 5%;
  position: absolute;
}
