* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: azure;
}

.playerTable {
  border: 1px solid black;
}

.cardCol {
  height: 112px;
  padding: 0px;
}
.myPlayedCard {
  text-align: center;
}
.playableCard {
  cursor: pointer;
}
.trumpCardCol {
  text-align: center;
}
.firstCardCol {
  padding-left: 20px;
}
.playedCardCol {
  padding-left: 30px;
}
.lastCardCol {
  min-width: 85px;
}
.cardWonCol {
  padding-left: 1px;
  padding-right: 1px;
}
.backSide {
  background-color: white;
  border: black 1px solid;
  max-width: 80px;
  border-radius: 5%;
  position: absolute;
}

.tableHeading {
  text-align: center;
}
.evenPromised {
  background-image: radial-gradient(circle, rgba(0, 255, 0, 0) 20%, rgba(0, 255, 0, 0.8) 50%, rgba(0, 255, 0, 0) 30%);
}
.underPromised {
  background-image: radial-gradient(circle, rgba(255, 255, 0, 0) 20%, rgba(255, 255, 0, 0.8) 50%, rgba(255, 255, 0, 0) 30%);
}
.overPromised {
  background-image: radial-gradient(circle, rgba(255, 0, 0, 0) 20%, rgba(255, 0, 0, 0.8) 50%, rgba(255, 0, 0, 0) 30%);
}

.tableCell {
  text-align: center;
}
.evenKept {
  background-image: radial-gradient(circle, rgba(0, 255, 0, 0) 20%, rgba(0, 255, 0, 0.3) 50%, rgba(0, 255, 0, 0) 30%);
}
.underKept {
  background-image: radial-gradient(circle, rgba(255, 255, 0, 0) 20%, rgba(255, 255, 0, 0.5) 50%, rgba(255, 255, 0, 0) 30%);
}
.overKept {
  background-image: radial-gradient(circle, rgba(255, 0, 0, 0) 20%, rgba(255, 0, 0, 0.3) 50%, rgba(255, 0, 0, 0) 30%);
}
