# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: PROD ENV - Build and deploy Node.js app to Azure Web App - prw

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v6.0.1

      - name: Set up Node.js version
        uses: actions/setup-node@v6.1.0
        with:
          node-version: '20.x'

      - name: npm install, build, and test in backend
        run: |
          npm install
          npm run build --if-present
          npm run test --if-present

      - name: npm install, build and test in frontend
        run: |
          npm install
          npm run build --if-present
        working-directory: ./frontend

      - name: Zip artifact for deployment
        run: Compress-Archive package.json, web.config, ./frontend/build release.zip
      - name: Update Zip artifact for deployment
        run: Compress-Archive -Update ./serverBuild/* release.zip

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v5.0.0
        with:
          name: node-app
          path: release.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: 'Production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v6.0.0
        with:
          name: node-app

      - name: UnZip artifact for deployment
        run: unzip release.zip

      - name: 'Deploy to Azure Web App'
        uses: azure/webapps-deploy@v3.0.6
        id: deploy-to-webapp
        with:
          app-name: 'prw'
          slot-name: 'Production'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_31C155B008F24DCCB455525162776DC5 }}
          package: .

      - name: Delete zip package
        run: rm release.zip

